# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace files executable directory (remove the comment below to include it)
go.work
go.work.sum
bin/

# env file
.env

# Editor/IDE .swp
# .idea/
*.vscode/
*.swp

# Ignore .txt .log archieve files .gz .zst .tar etc
*.txt
*.log
*.gz
*.zst
*.tar
*.tar.gz
*.tar.bz
*.gzip

# Ignore SSH private and public keys
id_rsa
id_rsa.pub
id_dsa
id_dsa.pub
id_ecdsa
id_ecdsa.pub
id_ed25519
id_ed25519.pub
*.pem
*.key
